<div class="w3-card w3-round w3-white">
  <div class="w3-container">
    <h4 class="w3-center">My Profile</h4>
    <hr>
    <div id="profilePic">
      <p class="w3-center"><img src="https://dummyimage.com/250x250/000/fff" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
    </div>
    <div id="profileDetails">
      <p>Beauty Specialist</p><hr>
      <p> Sharjah, UAE</p><hr>
      <p>
        4.7 Ratings
        <span id="lineBorder"></span>
        <span> xxx Jobs Done</span>
      </p>
    </div>
  </div>
</div>