#profileDetails{
    padding-left:50px;
    float: right;
}
.w3-center{
    padding-top: 0px;
    float: left;
    
}
#lineBorder{
    border-style: solid;
    border-width: 2px;
    margin-right: 5px;
}
#profilePic{
    float: left;
    
}
