<div class="jumbotron" style="height:100%">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div *ngIf="showInvalidUser" class="alert alert-danger">
        Username and/or Password not found <br> Please try again
      </div>
      <mat-card>
        <h2>Login</h2>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" id="loginUsername" name="loginUsername" type="text" [(ngModel)]="model.username" #username="ngModel"
            required minlength="4">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" id="loginPassword" name="loginPassword" type="password" name="loginPassword" [(ngModel)]="model.password"
            #password="ngModel" required minlength="4">
        </mat-form-field>
        <button mat-button name="login" [disabled]="!loginForm.form.valid">Login</button>
        <button mat-raised-button id="register" [routerLink]="['/register']">Register</button>
        <br>
        <a mat-raised-button (click)="fbLogin()">
              <span class="fa fa-facebook"></span>  Facebook
        </a>
      </mat-card>
    </form>
  </div>
</div>