.booking{
    width: 50%;
    padding-bottom: 40px;
    float: left;
}

.companyDetail{
    width: 50%;
    float: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}